<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Music shop', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Albums', albums_path %></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <%= breadcrumbs pretext: "You are here: ", display_single_fragment: true, style: :bootstrap %>
      <%= yield %>
    </div>
  </body>
</html>
